:root {
	--hue-color: 250; /* Purple 250 - Green 142 - Blue 230 - Pink 340 */


	/*HSL color mode*/
	--first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
}


* {
	box-sizing: border-box;
	margin:  0;
	padding:  0;
}

body {
	font-family: sans-serif;
	scroll-behavior: smooth;
}


ul {
	list-style: none;
}

input {
	border: none;
	outline: none;
}

::placeholder {
	font-size: .8rem;
	font-weight: lighter;
}


.wrapper {
	max-width: 100%;
	height:  100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: lightgrey;
	overflow-y: auto;
}

.container {
	background-color: #fff;
	max-height: 700px;
	padding:  2rem 2rem 3.5rem;
	border-radius: .5rem;
	overflow-y: auto;
	max-width: 100%;
	display: grid;
	justify-content: center;
}

.todo-title {
	text-align: center;
	color:  var(--title-color);
}

.subtitle {
	color:  var(--text-color);
	margin-bottom: 3rem;
}

.todo-content {
	display: grid;
	gap: 2rem;
	padding: 2rem 0 0 0;
}

.todo-search {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-search {
	position: absolute;
	left: 1.7rem;
	color: var(--first-color);
}

.search {
	width:  160px;
	box-shadow: 0 .1px 1px rgba(0, 0, 0, 0.07);
}

.search::placeholder {
	font-size: .67rem;
	font-style: italic;
}

.task-wrapper {
	max-height: 300px;
	overflow-y: auto;
	padding: .1rem .2rem;
	/*box-shadow: 0 1px rgba(0, 0, 0, .15), 0 -1px 0 0 rgba(0, 0, 0, .15);*/
	border-radius: .5rem;
}

.task {
	background-color: var(--first-color);
	color:  #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .9rem 0;
	padding:  .4rem .7rem;
	border-radius: .2rem;
}

.task-name {
	font-size: .9rem;
}

.todo-form {
	display: flex;
	flex-direction: column;
	margin-top: -.5rem;
	gap:  .9rem;
	justify-content: center;
	align-items: center;
}

.todo-input,
.search {
	border-bottom: 1px solid grey;
	color: #000;
	padding: .4rem 1rem .3rem;
	text-align: center;
	border-radius: .3rem;
}

.todo-input:focus {
	border-bottom: 2px solid var(--first-color);
	border-radius: .5rem;

}

.submit-btn {
	display: block;
	margin:  0 auto;
	padding:  .6rem 1rem;
	background-color: var(--first-color);
	border-radius: .5rem;
	color: #fff;
	margin-top: .5rem;
}

.submit-btn:hover,
.task:hover {
	background-color: var(--first-color-alt);
}

.clear-tasks {
	max-width:  200px;
	justify-self: right;
	/*background-color: red;*/
	outline: none;
	color:  var(--first-color);
	border:  none;
	padding:  .3rem .6rem;
	border-radius: .2rem;
}

.clear-tasks:hover {
	background-color: #fff;
}

.icon-clear {
	color:  red;
}

.container,
.task,
.submit-btn,
.clear-tasks {
	box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}

.filtered {
	display: none;
}

.border-red {
	border-bottom: 1px solid red;
}


/* Medium  Devices */

@media screen and (max-width:  350px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width:  425px) {
	.container {
		width: 350px;
		max-height: 630px;

	}

	.icon-search {
		left:  2.9rem;
	}

	.todo-content,
	.todo-form {
		width:  250px;
	}

	.todo-input {
		width:  200px;
	}
}

@media screen and (min-width:  768px) {
	.container {
		width: 450px;
	}

	.todo-title {
		font-size: 1.4rem;
	}

	.search {
		width: 200px;
		font-size: 1.1rem;
	}

	.search::placeholder {
		font-size: 1rem;
	}

	.icon-search {
		left:  3rem;
	}

	.todo-content,
	.todo-form {
		width:  280px;
	}

	.task {
		margin: 1.2rem 0;
	}

	.task-name,
	.delete-btn {
		font-size: 1.1rem;
	}

	.todo-input {
		width:  230px;
		font-size: 1.2rem;
	}
}


@media screen and (min-width:  1024px) {
	.container {
		width: 800px;
		max-height: 100vh;
	}

	.todo-title {
		font-size: 1.5rem;
	}

	.icon-search {
		left:  5rem;
	}

	.todo-content,
	.todo-form {
		width:  350px;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.task {
		margin: 1rem 0;
		font-size: .5rem;
		width:  280px;
	}

	::placeholder {
		font-size: 1rem;
	}

	.task-name,
	.delete-btn {
		font-size: 1.1xxxxxxrem;
	}

	.todo-input {
		width:  300px;
		font-size: 1.1rem;
	}

	.submit-btn {
		padding: 1rem 1.2rem;
		font-size: 1rem;
	}
}